@font-face {
  font-family: "NanumSquareRound";
  src: url(../font/NanumSquareRoundOTFL.woff) format("woff");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url(../font/NanumSquareRoundOTFR.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url(../font/NanumSquareRoundOTFB.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url(../font/NanumSquareRoundOTFEB.woff) format("woff");
  font-weight: black;
  font-style: normal;
}
